<div id="wrapper">
   <div id="header">
       <div id="logo"></div>
   </div>
   <div id="another_container">
		<h1>Event Details</h1>
			<div class="clearfix"></div>
			<div class="field">
				<%= label_tag :latitude %>
				<%= @event.latitude %>
			</div>
			<div class="field">
				<%= label_tag :longitude %>
				<%= @event.longitude %>
			</div>
			<div class="field">
				<%= label_tag :description %>
				<%= @event.description %>
			</div>
			<div class="field">
				<%= label_tag :state %>
				<%= @event.state %>
			</div>
			<div class="field">
				<%= label_tag :type %>
				<%= @event.type %>
			</div>
			<br/><br/><br/>
			<h3>People Involved on the Event</h3>
			<%= render( :partial =>  'person', :collection => @people ) || 'There are no people related.'  %>
			<br/><br/><br/>
			<h3>Vehicles Involved on the Event</h3>
			<%= render( :partial =>  'vehicle', :collection => @vehicles ) || 'There are no vehicles related.' %>
			<br/><br/><br/>
			<h3>Event Location</h3>		
			<img src="http://maps.google.com/maps/api/staticmap?center=<%= @event.latitude %>,<%= @event.longitude %>&markers=color:blue&zoom=14&size=400x400&sensor=false"/>
 			<br/><br/><br/>
			<h3>Event Photos</h3>		
			<div id="slideshow">
		  	<div id="slidesContainer">		
					<%= render( :partial =>  'photo', :collection => @photos ) || 'There are no photos available.'  %>
		  	</div>
			</div>				
			<h3>Event Log</h3>
			<%= render( :partial =>  'event_log', :collection => @event_logs ) || 'There are no event logs available.'  %>
	</div>
</div>