<div id="wrapper">
   <div id="header">
       <div id="logo"></div>
   </div>
   <div id="another_container">
		<h1>Event Details</h1>
			<div class="clearfix"></div>
			<div class="field">
				<%= label_tag :latitude %>
				<%= @event.latitude %>
			</div>
			<div class="field">
				<%= label_tag :longitude %>
				<%= @event.longitude %>
			</div>
			<div class="field">
				<%= label_tag :description %>
				<%= @event.description %>
			</div>
			<div class="field">
				<%= label_tag :state %>
				<%= @event.state %>
			</div>
			<div class="field">
				<%= label_tag :type %>
				<%= @event.type %>
			</div>
				<img src="http://maps.google.com/maps/api/staticmap?center=<%= @event.latitude %>,<%= @event.longitude %>&zoom=14&size=400x400&sensor=false"/>
			
			<!--img src="http://maps.google.com/maps/api/staticmap?center=10.96389,-74.79639&zoom=12&size=400x400&sensor=false"/-->
			
			
			
	</div>
</div>