<h1>Admin Dashboard</h1>
<h2>Users</h2>
<ul>
<% @users.each do |user| %>
<li><%= user.first_name %> <%= user.last_name %>
	<%= link_to 'Show', user_path(user.id) %>
	<%= link_to 'Edit', edit_user_path(user.id) %>
	<%= link_to 'Remove', user_path(user), :method => :delete, :onclick => "if (confirm('Are you sure you want to delete #{user.first_name } from iWarn?') == true) return true; else return false", :title => 'remove' %>
</li>
</li>
<% end %>
</ul>
<%= link_to "Add new user", add_new_user_path %>