<h1>User Details</h1>
<div class="field">
	<strong><%= label_tag :first_name %>:</strong>
	<%= @user.first_name %>
</div>
<div class="field">
	<strong><%= label_tag :last_name %>:</strong>
	<%= @user.last_name %>
</div>
<div class="field">
	<strong><%= label_tag :identification_number %>:</strong>
	<%= @user.identification_number %>
</div>
<div class="field">
	<strong><%= label_tag :email %>:</strong>
	<%=  @user.email %>
</div>