
<div id="wrapper">
	<div id="header">
		<div id="logo"></div>
	</div>
	<div id="container">
		<h2>Users</h2>
		<ul>
		<% @users.each do |user| %>
			<li><%= user.first_name %> <%= user.last_name %>
				<%= link_to 'Show', user_path(user.id) %>
				<%= link_to 'Edit', edit_user_path(user.id) %>
				<%= link_to 'Remove', admin_user_path(user), :method => :delete, :onclick => "if (confirm('Are you sure you want to delete #{user.first_name } from iWarn?') == true) return true; else return false", :title => 'remove' %>
			</li>
		<% end %>
		</ul>
		<div class="clearfix"></div>
		<%= link_to "Add new user", new_admin_user_path, :class => "btn" %>
		<div class="clearfix"></div>
	</div>
</div>
