<!DOCTYPE html>
<html>
<head>
		 <title>iWarn</title>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="../assets/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="../assets/style.less" rel="stylesheet/less" type="text/css">
    <script src="../assets/jquery-1.7.min.js" type="text/javascript"></script>
    <script src="../assets/less-1.2.1.min.js" type="text/javascript"></script>
    <script src="../assets/jquery.nivo.slider.pack.js" type="text/javascript" charset="utf-8"></script>
    <script src="../assets/bootstrap-dropdown.js" type="text/javascript" charset="utf-8"></script>
    <script src="../assets/bootstrap-tooltip.js" type="text/javascript" charset="utf-8"></script>
    <script src="../assets/bootstrap-collapse.js" type="text/javascript" charset="utf-8"></script>
    <script src="../assets/bootstrap-button.js" type="text/javascript" charset="utf-8"></script>
    <script src="../assets/checkbox.js" type="text/javascript" charset="utf-8"></script>
    <script>
        $(document).ready(function () {
            $('[href^=#]').click(function (e) {
                e.preventDefault();
            });
            $("[rel=tooltip]").tooltip({
            });
            $("[rel=tooltip-black]").tooltip({
                black: true
            });
            $("[rel=tooltip-down]").tooltip({
                placement: "bottom"
            });
            $("[rel=tooltip-down-black]").tooltip({
                placement: "bottom",
                black: true
            });
            $('.tabs').button();
            init_toggle_lists();
        });
    </script>
</head>
<body class="<%= params[:controller] %>">
			<%= yield %>
	<!--div id="container">
		<%# flash.each do |name, msg| %>
		<%#= content_tag :div, msg, :id => "flash_#{name}" %>
		<%# end %>

	</div-->
</body>
</html>
